@import url("https://fonts.googleapis.com/css?family=Muli");
html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: 'Muli', sans-serif;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.1rem;
}

p {
  font-size: 1.6rem;
}

.site-wrapper {
  padding-right: 10px;
  padding-left: 10px;
  height: 100%;
}

article {
  border: dotted 1px red;
}

header {
  width: 100vw;
  height: 80px;
  padding-right: 1em;
  padding-left: 1em;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

header .logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

header .nav {
  display: none;
}

#top-wrapper {
  height: 100vh;
  padding-top: 100px;
}

@media screen and (min-width: 700px) {
  #top-wrapper {
    height: 80vh;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

#top-wrapper .self-img {
  width: 80%;
  height: 450px;
  background: cadetblue;
  margin: 0 auto;
}

@media screen and (min-width: 700px) {
  #top-wrapper .self-img {
    width: 50%;
    margin-right: 10px;
    margin-left: 10px;
  }
}

#top-wrapper .self-dsc {
  font-size: 2.3rem;
  width: 80%;
  text-align: center;
  margin: 60px auto 0 auto;
}

@media screen and (min-width: 700px) {
  #top-wrapper .self-dsc {
    width: 50%;
    margin-top: 0;
  }
}

#works-wrapper {
  background: #FFFBF2;
}

@media screen and (min-width: 700px) {
  #works-wrapper {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
  }
}

#works-wrapper .work {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 700px) {
  #works-wrapper .work {
    width: 100%;
  }
}

#works-wrapper .work img {
  max-width: 90%;
}

@media screen and (min-width: 700px) {
  #works-wrapper .work img {
    max-width: 100%;
  }
}

@media screen and (min-width: 700px) {
  #works-wrapper .item-2 {
    grid-column: 2/4;
    grid-row: 1/3;
  }
  #works-wrapper .item-4 {
    grid-column: 1/3;
    grid-row: 3/5;
  }
}

#contact-wrapper p {
  text-align: center;
  margin-bottom: 5px;
}

#contact-wrapper .social-icons {
  margin-bottom: 10px;
}

#contact-wrapper .social-icons ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

#contact-wrapper .social-icons ul li {
  margin-right: 3px;
}

#contact-wrapper .social-icons ul li a {
  font-size: 2.5rem;
  color: black;
}

footer {
  width: 100%;
  text-align: center;
}

.open #global-nav {
  z-index: 1000;
  visibility: visible;
}

#global-nav {
  visibility: hidden;
  position: fixed;
  color: #fff;
  top: 40px;
  right: 120px;
  text-align: center;
  font-size: 16px;
}

#global-nav a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

#global-nav ul li {
  opacity: 0;
  -webkit-transform: scaleX(0) translateX(-260px);
  transform: scaleX(0) translateX(-260px);
  -webkit-transition: none;
  transition: none;
}

.open #global-nav ul li {
  opacity: 1;
  -webkit-transform: scaleX(1) translateX(0);
  transform: scaleX(1) translateX(0);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

.open #global-nav ul li:nth-child(2) {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.open #global-nav ul li:nth-child(3) {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}

.open #global-nav ul li:nth-child(4) {
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.open #global-nav ul li:nth-child(5) {
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}

#nav-bg {
  content: "";
  width: 40px;
  height: 40px;
  right: 50px;
  top: 10px;
  display: block;
  position: fixed;
  background: #17A669;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 0;
}

.open #nav-bg {
  -webkit-transform: scale(13);
  transform: scale(13);
  -webkit-transition: all .6s ease-out;
  transition: all .6s ease-out;
  opacity: 1;
}

#nav-toggle {
  display: block;
  position: fixed;
  right: 50px;
  top: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1002;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#nav-toggle div {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nav-toggle span {
  height: 5px;
  width: 80%;
  background: black;
  zoom: 1;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  margin: 3px 0;
  border-radius: 20%;
}

#nav-toggle span:nth-child(1) {
  top: 0;
}

#nav-toggle span:nth-child(2) {
  top: 8px;
}

#nav-toggle span:nth-child(3) {
  top: 16px;
}

.open #nav-toggle {
  background: transparent;
}

.open #nav-toggle span {
  background: #fff;
}

.grid {
  margin: 100px  auto 0 auto;
}

.grid .grid-item {
  position: relative;
  width: 300px;
  overflow: hidden;
  margin-bottom: 2.5px;
  margin-top: 2.5px;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.grid .grid-item:before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.grid .grid-item:hover {
  -webkit-animation: bloom ease-in-out .75s forwards;
  -o-animation: bloom ease-in-out .75s forwards;
  animation: bloom ease-in-out .75s forwards;
}

.grid .grid-item:hover::before {
  -webkit-animation: circle .75s;
  -o-animation: circle .75s;
  animation: circle .75s;
}

.grid .grid-item:hover img {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.grid .grid-item:hover .wk-ttl {
  opacity: 1;
}

.grid .grid-item img {
  max-width: 100%;
  -webkit-transition: all 0.5s ease .76s;
  -moz-transition: all 0.5s ease .76s;
  -ms-transition: all 0.5s ease .76s;
  -o-transition: all 0.5s ease .76s;
  transition: all 0.5s ease .76s;
}

.grid .grid-item .wk-ttl {
  transition: opacity .5s ease .76s;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

@keyframes bloom {
  0% {
    filter: grayscale(0.8);
  }
  40% {
    filter: grayscale(0.5);
  }
  100% {
    filter: grayscale(0);
  }
}

@keyframes circle {
  0% {
    opacity: .5;
    background: rgba(0, 255, 50, 0.21);
  }
  40% {
    opacity: 1;
    background: rgba(213, 0, 7, 0.2);
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

.grid .top-logo {
  opacity: 0;
  position: absolute;
  width: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  transition: all 0.5s ease;
  transform: translateY(-20px);
}

.grid .top-logo img {
  max-width: 100%;
  width: 200px;
}

@media screen and (min-width: 932px) {
  .grid .gap {
    margin-top: 150px;
  }
  .grid .top-logo {
    opacity: 1;
    transform: translateY(20px);
  }
}

@media screen and (min-width: 1200px) {
  #grid-wrapper {
    margin-right: 120px;
    margin-left: 120px;
  }
}

.about-pg {
  position: relative;
  padding-top: 100px;
}

.about-pg .flex-box {
  height: 100%;
}

@media screen and (min-width: 700px) {
  .about-pg {
    height: 100vh;
  }
}

@media screen and (min-width: 1000px) {
  .about-pg {
    height: 100vh;
    padding-top: 80px;
  }
  .about-pg .flex-box {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.about-pg .self-img-pg {
  width: 80%;
  background: cadetblue;
  margin: 0 auto 30px;
}

@media screen and (min-width: 700px) {
  .about-pg .self-img-pg {
    height: 45%;
  }
}

@media screen and (min-width: 1000px) {
  .about-pg .self-img-pg {
    width: 50%;
    height: 80%;
    margin: 0 10px;
  }
}

@media screen and (min-width: 1200px) {
  .about-pg .self-img-pg {
    margin: 0 5px 0 20px;
  }
}

.about-pg .self-dsc-pg {
  width: 80%;
  margin: 0 auto;
}

.about-pg .self-dsc-pg h1 {
  font-size: 3rem;
  text-align: center;
}

.about-pg .self-dsc-pg p {
  text-align: left;
}

@media screen and (min-width: 700px) {
  .about-pg .self-dsc-pg {
    width: 90%;
    text-align: center;
  }
  .about-pg .self-dsc-pg div {
    width: 48%;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
  }
}

@media screen and (min-width: 1000px) {
  .about-pg .self-dsc-pg {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 80%;
    margin-top: 0;
  }
  .about-pg .self-dsc-pg div {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .about-pg .self-dsc-pg {
    margin: 0 20px 0 5px;
  }
}

.about-pg footer {
  position: fixed;
  bottom: 0;
}
