@import url("https://fonts.googleapis.com/css?family=Muli");
html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: 'Muli', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.1rem;
}

p {
  font-size: 1.6rem;
}

.site-wrapper {
  height: 100%;
}

#top-wrapper {
  height: 100vh;
}

@media screen and (min-width: 500px) {
  #top-wrapper {
    height: unset;
  }
}

@media screen and (min-width: 760px) {
  #top-wrapper {
    margin-right: calc((100vw - 760px)/2);
    margin-left: calc((100vw - 760px)/2);
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 1150px) {
  #top-wrapper {
    margin-right: calc((100vw - 1150px) / 2);
    margin-left: calc((100vw - 1150px) / 2);
  }
}

#top-wrapper .self-img {
  width: 100%;
  margin: 0 auto;
}

#top-wrapper .self-img img {
  max-width: 100%;
  vertical-align: middle;
}

@media screen and (min-width: 700px) {
  #top-wrapper .self-img {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  #top-wrapper .self-img {
    max-width: 600px;
  }
}

#top-wrapper .self-dsc {
  font-size: 2.3rem;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 700px) {
  #top-wrapper .self-dsc {
    width: 50%;
    margin-top: 0;
  }
}

#contact-wrapper p {
  text-align: center;
  margin-bottom: 5px;
}

#contact-wrapper .social-icons {
  margin-bottom: 20px;
}

#contact-wrapper .social-icons ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

#contact-wrapper .social-icons ul li {
  margin-right: 3px;
}

#contact-wrapper .social-icons ul li a {
  font-size: 2.5rem;
  color: black;
}

.social-icons .fab {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.social-icons a:hover .fa-behance-square {
  color: #0057ff;
}

.social-icons a:hover .fa-linkedin {
  color: #0077B5;
}

.social-icons a:hover .fa-instagram {
  color: #e95950;
}

header {
  width: 100%;
  height: 110px;
  padding-right: 1rem;
  padding-left: 1rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background: #F8F8F8;
}

header .logo {
  position: absolute;
  top: 50%;
  left: 30px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 5px;
  z-index: 5;
}

header .logo img {
  max-width: 50%;
}

header .nav {
  display: none;
}

footer {
  text-align: center;
}

#grid-wrapper {
  position: relative;
}

@media screen and (min-width: 760px) {
  #grid-wrapper {
    padding-top: 15px;
  }
}

.grid {
  margin: 0 auto;
  opacity: 0;
  transform: translateX(-30px);
}

.grid .grid-item {
  position: relative;
  width: 370px;
  overflow: hidden;
  margin-bottom: 2.5px;
  margin-top: 2.5px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.grid .grid-item span {
  font-size: 1.5rem;
}

.grid .grid-item:before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.grid .grid-item:hover {
  -webkit-animation: bloom ease-in-out .75s forwards;
  -o-animation: bloom ease-in-out .75s forwards;
  animation: bloom ease-in-out .75s forwards;
}

.grid .grid-item:hover::before {
  -webkit-animation: circle .75s;
  -o-animation: circle .75s;
  animation: circle .75s;
}

.grid .grid-item:hover img {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  filter: blur(4px);
}

.grid .grid-item:hover .wk-ttl {
  opacity: 1;
}

.grid .grid-item img {
  max-width: 100%;
  -webkit-transition: all 0.5s ease .76s;
  -moz-transition: all 0.5s ease .76s;
  -ms-transition: all 0.5s ease .76s;
  -o-transition: all 0.5s ease .76s;
  transition: all 0.5s ease .76s;
}

.grid .grid-item .wk-ttl {
  transition: opacity .5s ease .76s;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

@keyframes bloom {
  0% {
    filter: grayscale(0.8);
  }
  40% {
    filter: grayscale(0.5);
  }
  100% {
    filter: grayscale(0);
  }
}

@keyframes circle {
  0% {
    opacity: .5;
    background: rgba(0, 255, 50, 0.21);
  }
  40% {
    opacity: 1;
    background: rgba(213, 0, 7, 0.2);
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@media screen and (min-width: 1150px) {
  .grid .gap {
    margin-top: 150px;
  }
  .grid .top-logo {
    opacity: 1;
    transform: translateY(20px);
  }
}

.about-pg {
  position: relative;
  padding-top: 110px;
}

.about-pg .flex-box {
  height: 100%;
}

@media screen and (min-width: 700px) {
  .about-pg {
    height: 100vh;
  }
}

@media screen and (min-width: 1000px) {
  .about-pg {
    height: 100vh;
    padding-top: 80px;
  }
  .about-pg .flex-box {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.about-pg .self-img-pg {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .about-pg .self-img-pg {
    width: 55%;
  }
}

@media screen and (min-width: 1000px) {
  .about-pg .self-img-pg {
    width: 50%;
    margin: 0 10px;
  }
}

@media screen and (min-width: 1200px) {
  .about-pg .self-img-pg {
    max-width: 600px;
    margin: 0 10px 0 0;
  }
}

.about-pg .self-img-pg img {
  max-width: 100%;
  vertical-align: middle;
}

@media screen and (min-width: 700px) {
  .about-pg .self-img-pg img {
    max-width: 80%;
  }
}

@media screen and (min-width: 1000px) {
  .about-pg .self-img-pg img {
    max-width: 100%;
  }
}

.about-pg .self-dsc-pg {
  width: 80%;
  margin: 0 auto;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.about-pg .self-dsc-pg h2 {
  text-align: center;
  margin-bottom: 0;
}

@media screen and (min-width: 1000px) {
  .about-pg .self-dsc-pg h2 {
    text-align: left;
  }
}

.about-pg .self-dsc-pg p {
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1000px) {
  .about-pg .self-dsc-pg p {
    letter-spacing: 2.5px;
  }
}

@media screen and (min-width: 700px) {
  .about-pg .self-dsc-pg {
    width: 90%;
    text-align: center;
  }
  .about-pg .self-dsc-pg div {
    width: 48%;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
  }
}

@media screen and (min-width: 1000px) {
  .about-pg .self-dsc-pg {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 80%;
    margin-top: 0;
  }
  .about-pg .self-dsc-pg div {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .about-pg .self-dsc-pg {
    margin: 0 20px 0 5px;
  }
}

.intro,
.skill {
  opacity: 0;
  transform: translateX(-30px);
}

#top-head-inner {
  height: 110px;
  position: relative;
}

.open #global-nav {
  z-index: 1000;
  visibility: visible;
}

#global-nav {
  visibility: hidden;
  position: absolute;
  color: #fff;
  top: 40px;
  right: 120px;
  text-align: center;
  font-size: 16px;
}

#global-nav a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

#global-nav ul li {
  opacity: 0;
  -webkit-transform: scaleX(0) translateX(-260px);
  transform: scaleX(0) translateX(-260px);
  -webkit-transition: none;
  transition: none;
}

.open #global-nav ul li {
  opacity: 1;
  -webkit-transform: scaleX(1) translateX(0);
  transform: scaleX(1) translateX(0);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

.open #global-nav ul li:nth-child(2) {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.open #global-nav ul li:nth-child(3) {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}

.open #global-nav ul li:nth-child(4) {
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.open #global-nav ul li:nth-child(5) {
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}

#nav-bg {
  content: "";
  width: 40px;
  height: 40px;
  right: 50px;
  top: 35px;
  display: block;
  position: absolute;
  background: #306293;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 0;
}

.open #nav-bg {
  -webkit-transform: scale(13);
  transform: scale(13);
  -webkit-transition: all .6s ease-out;
  transition: all .6s ease-out;
  opacity: 1;
}

#nav-toggle {
  display: block;
  position: absolute;
  right: 50px;
  top: 35px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1002;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#nav-toggle div {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nav-toggle span {
  height: 5px;
  width: 80%;
  background: black;
  zoom: 1;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  margin: 3px 0;
  border-radius: 50px;
}

#nav-toggle span:nth-child(1) {
  top: 0;
}

#nav-toggle span:nth-child(2) {
  top: 8px;
}

#nav-toggle span:nth-child(3) {
  top: 16px;
}

.open #nav-toggle {
  background: transparent;
}

.open #nav-toggle span {
  background: #fff;
}
