// Variables
$h1: 3.2rem;
$h2: 2.5rem;
$h3: 2.1rem;
$p: 1.6rem;

$main: #FFFBF2;

// Media Query
$breakpoints: (
        'sm': 'screen and (min-width: 700px)',
        'md': 'screen and (min-width: 1000px)',
        'lg': 'screen and (min-width: 1200px)',
        'g-md': 'screen and (min-width: 932px)',
) !default;


// Mixin


// Media Query
@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}


// Base

@import url('https://fonts.googleapis.com/css?family=Muli');

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: 'Muli', sans-serif;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

p {
  font-size: $p;
}

.site-wrapper {
  padding-right: 10px;
  padding-left: 10px;
  height: 100%;

  // masonry full width 3 columns, then set 200px on both sides
}

article {
  border: dotted 1px red;

}

// Header
header {
  width: 100%;
  height: 110px;
  padding-right: 1rem;
  padding-left: 1rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background: white;

  .logo {
    position: absolute;
    top: 50%;
    left: 30px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 5px;
  }

  .nav {
    display: none;
  }


}


// Container

#top-wrapper {
  height: 100vh;
  padding-top: 110px;

  @include mq(){
    height: 90vh;
    padding-top: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }


  .self-img {
    width: 100%;
    margin: 0 auto;

    img {
      max-width: 100%;
    }

    @include mq(){
      width: 50%;
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  .self-dsc {
    font-size: 2.3rem;
    width: 80%;
    text-align: center;
    margin: 0 auto;

    @include mq(){
      width: 50%;
      margin-top: 0;
    }
  }
}

// Works

#works-wrapper {
  background: $main;

  @include mq(){
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
  }

  .work {
    width: 90%;
    text-align: center;
    margin: 0 auto;

    @include mq(){
      width: 100%
    }

    img {
      max-width: 90%;

      @include mq(){
        max-width: 100%;
      }
    }
  }

  @include mq(){
    .item-2 {
      grid-column: 2/4;
      grid-row: 1/3;
    }

    .item-4 {
      grid-column: 1/3;
      grid-row: 3/5;
    }
  }

}


// Contact

#contact-wrapper {

  p {
    text-align: center;
    margin-bottom: 5px;
  }

  .social-icons {
    margin-bottom: 10px;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      list-style: none;

      li {
        margin-right: 3px;

        a {
          font-size: 2.5rem;
          color: black;
        }
      }
    }
  }

}

// Footer

footer {
  width: 100%;
  text-align: center;
}


// Nav bar (Mobile)

#top-head-inner {
  height: 110px;
  position: relative;
}

.open #global-nav {
  z-index: 1000;
  visibility: visible;
}
#global-nav {
  visibility: hidden;
  position: absolute;
  color: #fff;
  top: 40px;
  right: 120px;
  text-align: center;
  font-size: 16px;
}

#global-nav a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

#global-nav ul li {
  opacity: 0;
  -webkit-transform: scaleX(0) translateX(-260px);
  transform: scaleX(0) translateX(-260px);
  -webkit-transition: none;
  transition: none;
}
.open #global-nav ul li {
  opacity: 1;
  -webkit-transform: scaleX(1) translateX(0);
  transform: scaleX(1) translateX(0);

  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;

  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}
.open #global-nav ul li:nth-child(2) {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}
.open #global-nav ul li:nth-child(3) {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}
.open #global-nav ul li:nth-child(4) {
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}
.open #global-nav ul li:nth-child(5) {
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}

#nav-bg {
  content: "";
  width: 40px;
  height: 40px;
  right: 50px;
  top: 35px;
  display: block;
  position: fixed;
  background: #17A669;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 0;

}
.open #nav-bg {
  -webkit-transform: scale(13);
  transform: scale(13);
  -webkit-transition: all .6s ease-out;
  transition: all .6s ease-out;
  opacity: 1;
}


#nav-toggle {
  display: block;
  position: fixed;
  right: 50px;
  top: 35px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1002;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

#nav-toggle div {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#nav-toggle span {
  height: 5px;
  width: 80%;
  background: black;
  zoom: 1;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  margin: 3px 0;
  border-radius: 20%;
}

#nav-toggle span:nth-child(1) {
  top: 0;
}
#nav-toggle span:nth-child(2) {
  top: 8px;
}
#nav-toggle span:nth-child(3) {
  top: 16px;
}

.open #nav-toggle {
  background: transparent;
}

.open #nav-toggle span {
  background: #fff;
}




// works_page

.grid {
  //width: 1000px;
  margin: 100px  auto 0 auto;
  //background: darkgrey;

  .grid-item {
    position: relative;
    width: 300px;
    overflow: hidden;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
    //border: solid red 1px;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      display: block;
      content: '';
      width: 0;
      height: 0;
      background: rgba(0,0,0,.2);
      border-radius: 100%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
    }

    &:hover{
      -webkit-animation: bloom ease-in-out .75s forwards;
      -o-animation: bloom ease-in-out .75s forwards;
      animation: bloom ease-in-out .75s forwards;
    }

    &:hover::before {
      -webkit-animation: circle .75s;
      -o-animation: circle .75s;
      animation: circle .75s;
    }

    &:hover img {
      transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
    }

    &:hover .wk-ttl {
      opacity: 1;
    }


    img {
      max-width: 100%;
      -webkit-transition: all 0.5s ease .76s;
      -moz-transition: all 0.5s ease .76s;
      -ms-transition: all 0.5s ease .76s;
      -o-transition: all 0.5s ease .76s;
      transition: all 0.5s ease .76s;
    }

    .wk-ttl {
      transition: opacity .5s ease .76s;
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
  }

  @keyframes bloom {
    0% {
      filter: grayscale(.8);
    }
    40% {
      filter: grayscale(.5);
    }
    100% {
      filter: grayscale(0);
    }
  }

  @keyframes circle {
    0% {
      opacity: .5;
      background: rgba(0, 255, 50, 0.21);

    }
    40% {
      opacity: 1;
      background: rgba(213, 0, 7, 0.2);
    }
    100% {
      width: 200%;
      height: 200%;
      opacity: 0;
    }
  }

  .top-logo {
    opacity: 0;
    position: absolute;
    width: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    transition: all 0.5s ease;
    transform: translateY(-20px);

    img{
      max-width: 100%;
      width: 200px;
    }
  }

  @include mq(g-md){
    .gap {
      margin-top: 150px;
    }

    .top-logo {
      opacity: 1;
      transform: translateY(20px);
    }
  }

}

@include mq(lg) {
  #grid-wrapper {
    margin-right: 120px;
    margin-left: 120px;
  }
}

// about_page

.about-pg {
  position: relative;
  padding-top: 100px;
  //need a photo on mobile size??
  //height: 100vh;

  .flex-box {
    height: 100%;
  }

  @include mq(){
    height: 100vh;
  }

  @include mq(md){
    height: 100vh;
    padding-top: 80px;

    .flex-box {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

  }

  .self-img-pg {
    width: 80%;
    background: cadetblue;
    margin: 0 auto 30px;


    @include mq(){
      height: 45%;
    }

    @include mq(md){
      width: 50%;
      height: 80%;
      margin: 0 10px;
    }

    @include mq(lg){
      margin: 0 5px 0 20px;
    }
  }

  .self-dsc-pg {
    width: 80%;
    margin: 0 auto;

    h1 {
      font-size: 3rem;
      text-align: center;
    }

    p {
      text-align: left;
    }

    @include mq(){
      width:90%;
      text-align: center;

      div {
        width: 48%;
        display: inline-block;
        margin-right: 5px;
        margin-left: 5px;
      }
    }

    @include mq(md){
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 50%;
      height: 80%;
      margin-top: 0;

      div {
        display: block;
        width: 100%;
      }
    }

    @include mq(lg){
      margin: 0 20px 0 5px;
    }
  }

  footer {
    position: fixed;
    bottom: 0;
  }

}


//// ======================================
////  Partial Imports
//// ======================================
//
//// Utilities
//@import 'utilities/variables';
//@import 'utilities/mixins';
//@import 'utilities/_typed_effect';
//@import 'utilities/_slidein_effect';
//
//// Base Styles
//@import "base/base";
//
//// Layout Styles
//@import "layout/container";
//@import "layout/header";
//@import "layout/footer";
//
//
//// Component Styles
//@import "components/mobile_nav";
//@import "components/nav";
//
//
//// Flex wrap + Flex Basis [flex-basis: 100% or 50% or 25%;]
//
/////////////////////////////////////////////////////////////////
