// Container

#top-wrapper {
  height: 100vh;

  @include mq(xs) {
    height: unset;
  }

  @include mq(g-sm) {
    margin-right: calc((100vw - 760px)/2);
    margin-left: calc((100vw - 760px)/2);
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @include mq(g-md) {
    margin-right: calc((100vw - 1150px) / 2);
    margin-left: calc((100vw - 1150px) / 2);
  }

  .self-img {
    width: 100%;
    margin: 0 auto;

    img {
      max-width: 100%;
      vertical-align: middle;
    }

  }

  .self-dsc {
    font-size: 2.3rem;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    @include slide-element;

    @include mq(){
      width: 50%;
      margin-top: 0;
    }
  }
}


// Contact

#contact-wrapper {
  margin-right: calc((100vw - 370px)/2);
  margin-left: calc((100vw - 370px)/2);

  @include mq(g-sm) {
    margin-right: calc((100vw - 760px)/2);
    margin-left: calc((100vw - 760px)/2);
  }

  @include mq(g-md) {
    margin-right: calc((100vw - 1150px) / 2);
    margin-left: calc((100vw - 1150px) / 2);
  }

  h2 {
    text-align: center;
    font-size: 2rem;

    a {
      display: inline-block;
      position: relative;
      color: #306293;
      text-decoration: none;
      @include common-transition;

      &::after {
        position: absolute;
        bottom: -4px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: red;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform .3s;
      }

      &:hover::after {
        transform: scale(1, 1);
      }

      &:hover {
        color: red;
      }
    }
  }


  p {
    text-align: center;
    margin-bottom: 5px;
  }

  .social-icons {
    margin-bottom: 20px;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      list-style: none;

      li {
        margin-right: 3px;

        a {
          font-size: 2.5rem;
          color: black;
        }
      }
    }
  }
}

.social-icons {

  .fab {
    @include common-transition;
  }

  a:hover{
    .fa-behance-square{
      color: #0057ff;
    }

    .fa-linkedin{
      color: #0077B5;
    }

    .fa-instagram {
      color: #e95950;
    }
  }
}
