// Container

#top-wrapper {
  height: 100vh;

  @include mq(xs) {
    height: unset;
  }

  @include mq(g-sm) {
    margin-right: calc((100vw - 760px)/2);
    margin-left: calc((100vw - 760px)/2);
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @include mq(g-md) {
    margin-right: calc((100vw - 1150px) / 2);
    margin-left: calc((100vw - 1150px) / 2);
  }

  .self-img {
    width: 100%;
    margin: 0 auto;

    img {
      max-width: 100%;
      vertical-align: middle;
    }

    @include mq(){
      width: 50%;
    }

    @include mq(lg) {
      max-width: 600px;
    }

  }

  .self-dsc {
    font-size: 2.3rem;
    width: 80%;
    text-align: center;
    margin: 0 auto;

    @include mq(){
      width: 50%;
      margin-top: 0;
    }
  }
}

// Contact

#contact-wrapper {

  p {
    text-align: center;
    margin-bottom: 5px;
  }

  .social-icons {
    margin-bottom: 20px;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      list-style: none;

      li {
        margin-right: 3px;

        a {
          font-size: 2.5rem;
          color: black;
        }
      }
    }
  }
}

.social-icons {

  .fab {
    @include common-transition;
  }

  a:hover{
    .fa-behance-square{
      color: #0057ff;
    }

    .fa-linkedin{
      color: #0077B5;
    }

    .fa-instagram {
      color: #e95950;
    }
  }
}
