
.work-wrapper {
  margin-top: 2rem;

  @include mq() {
    margin-top: unset;
  }

  .work-img-pg{

    img {
      @include slide-element;
    }

    @include mq(md) {
      img{
        max-width: 679px;
      }
    }
  }

}

.color-scheme {
  padding-right: 2rem;

  @include mq() {
    text-align: right;
  }

  .color {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background: #306293;
    margin-right: .5rem;
    margin-top: 2rem;
  }

  .sc1 {
    background: #fff5f5;
  }

  .sc2 {
    background: #ffa4a7;
  }

  .sc3 {
    background: #ffc5bc;
  }

}
